.images {
    display: grid;
    width: 50%;

    div {
        grid-column: 1;
        grid-row: 1;
    }

    .projectImage {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        --scale: 0.8;
        --offsetX: -40px;
        --offsetY: -70px;

        a {
            position: relative;
            transition: transform 0.3s ease;
            scale: var(--scale);

            img {
                height: 100%;
                width: 100%;
                object-fit: fill;
                border: 4px solid var(--secondaryDark);
                border-radius: 3px;
                box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.612);
                transition: border-color 0.3s ease;
            }
        }
    }

    .projectImage>a:hover,
    .projectImage>a:focus,
    .projectImage>a:focus-visible {
        transform: scale(1.05);

        img {
            border-color: var(--primaryColor);
        }
    }

    .image0 {
        width: 352px;
        z-index: 2;
        top: calc(-30px * var(--scale) + var(--offsetY));
        left: calc(-90px * var(--scale) + var(--offsetX));
    }

    .image1 {
        width: 650px;
        z-index: 1;
        top: calc(-120px * var(--scale) + var(--offsetY));
        left: calc(240px * var(--scale) + var(--offsetX));
    }

    .image2 {
        width: 200px;
        z-index: 2;
        top: calc(280px * var(--scale) + var(--offsetY));
        left: calc(150px * var(--scale) + var(--offsetX));
    }

    .image3 {
        width: 370px;
        z-index: 3;
        top: calc(200px * var(--scale) + var(--offsetY));
        left: calc(-160px * var(--scale) + var(--offsetX));
    }

    .image4 {
        width: 400px;
        z-index: 0;
        top: calc(170px * var(--scale) + var(--offsetY));
        left: calc(430px * var(--scale) + var(--offsetX));
    }

    .image5 {
        width: 200px;
        z-index: 4;
        top: calc(340px * var(--scale) + var(--offsetY));
        left: calc(0px * var(--scale) + var(--offsetX));
    }
}

@media only screen and (max-width: 900px) {
    .images {
        display: none;
    }
}

/* Scaling */
@media only screen and (max-width: 1600px) {
    .images {
        .projectImage {
            --scale: 0.7;
        }
    }
}

@media only screen and (max-height: 900px) {
    .images {
        .projectImage {
            --scale: 0.7;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .images {
        .projectImage {
            --scale: 0.6;
        }
    }
}

@media only screen and (max-height: 700px) {
    .images {
        .projectImage {
            --scale: 0.5;
        }
    }
}

@media only screen and (max-width: 1180px) {
    .images {
        .projectImage {
            --scale: 0.4;
            --offsetX: -100px
        }
    }
}

/* @media only screen and (max-width: 400px) {
    .images {
        .projectImage {
            --scale: 0.3;
        }
    }
}

@media only screen and (max-width: 200px) {
    .images {
        display: none;
    }
} */