.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.letsTalk {
    font-weight: 800;
    color: var(--primaryLight);
    font-size: 3rem;
    margin: 0;
    margin-bottom: 3rem;
}

.formSocials {
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    width: 90vw;
    max-width: 500px;

    .input {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 100%;

        div {
            display: grid;
            position: relative;

            * {
                grid-row: 1;
                grid-column: 1;
            }
        }

        label {
            color: var(--primaryLight);
            margin-left: 0.5rem;
            font-size: 1.1rem;
        }

        label.required:after {
            content: "*";
            color: var(--errorColor);
            margin-left: 0.3rem;
        }

        input,
        textarea {
            resize: none;
            box-sizing: border-box;
            width: 100%;
            height: 35px;
            color: var(--primaryLight);
            background-color: var(--secondaryDark);
            font-size: 1rem;
            padding: 0.6rem 1.2rem;
            box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.612);
            white-space: nowrap;
            overflow-y: hidden;
            z-index: 1;
            border-radius: 6px;
        }

        input::-webkit-scrollbar,
        textarea::-webkit-scrollbar {
            height: 0rem;
        }
    }

    .input:last-of-type {
        textarea {
            resize: vertical;
            height: 150px;
            min-height: 150px;
            max-height: 300px;
            white-space: unset;
            overflow-y: unset;
        }
    }

    button {
        display: flex;
        align-items: center;
        background: var(--primaryColor);
        background: linear-gradient(to right, var(--primaryColor) 0%, var(--secondaryColor) 100%);
        font-weight: 800;
        color: var(--primaryDark);
        font-size: 1.25rem;
        border-radius: 0.5rem;
        padding: 0.5rem 1.2rem;
        margin-top: 3rem;
    }

    button:hover,
    button:focus,
    button:focus-visible {
        background: var(--primaryLight);
    }

    .successful {
        color: var(--primaryColor);
        font-size: 1rem;
        margin: 0;
    }

    .error {
        color: var(--errorColor);
        font-size: 1rem;
        margin: 0;
    }
}

.socials {
    margin-left: min(90vw, 500px);
    padding-left: 100px;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: absolute;

    a {
        svg {
            width: 2.2rem;
            height: 2.2rem;

            path {
                fill: var(--primaryColor);
            }
        }
    }

    a:hover,
    a:focus,
    a:focus-visible {
        transform: scale(1.1);
        color: var(--primaryLight);

        path {
            fill: var(--primaryLight);
        }
    }
}

@media only screen and (max-width: 900px) {
    .letsTalk {
        margin-bottom: 0;
    }

    .formSocials {
        flex-direction: column-reverse;
        padding: 0 1rem;
    }

    .socials {
        position: unset;
        padding-left: 0;
        margin-top: 1rem;
        margin-left: 0;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        a svg {
            width: 2rem;
            height: 2rem;
        }
    }
}