.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        text-align: center;
        color: var(--primaryLight);
        font-weight: 800;
        font-size: 3rem;
    }

    .projectCategories {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .category {
        h3 {
            text-align: center;
            color: var(--primaryLight);
            font-weight: 800;
            font-size: 2rem;
        }
    }

    .projectList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 10px;
        margin-top: 10px;
    }

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: var(--secondaryDark);
        border-radius: 10px;
        width: 200px;
        box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.612);
        padding: 5px;
        text-align: center;
        transition: border 0.3s ease;
        border: 2px solid var(--primaryDark);

        .imageHolder {
            width: 100%;
            aspect-ratio: 1 / 0.9;
            border-radius: 10px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease;
        }

        p {
            margin: 0;
        }

        .title {
            margin: 0;
            color: var(--primaryLight);
            font-weight: 800;
            font-size: 1.25rem;
        }

        .description {
            color: var(--secondaryLight);
            font-weight: 400;
            font-size: 1rem;
        }

        .button {
            background: var(--primaryColor);
            background: linear-gradient(to right, var(--primaryColor) 0%, var(--secondaryColor) 100%);
            font-weight: 800;
            color: var(--primaryDark);
            font-size: 1rem;
            padding: 0.4rem 0;
            width: 100%;
            border-radius: 10px;

            svg {
                height: 1.25rem;

                path {
                    fill: var(--primaryDark);
                }
            }
        }
    }

    .project:hover,
    .project:focus,
    .project:focus-visible {
        box-shadow: none;
        border: 2px solid var(--primaryColor);

        .button {
            background: var(--primaryLight);
        }

        img {
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 730px) {
    .projectsSection {
        .projectList {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media only screen and (max-width: 500px) {
    .projectsSection {
        .projectList {
            grid-template-columns: 1fr;
        }
    }
}