.skillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        text-align: center;
        color: var(--primaryLight);
        font-weight: 800;
        font-size: 3rem;
    }
}

.categoryList {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;

    .category {
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            height: 5rem;

            path {
                fill: var(--primaryColor);
            }
        }

        h3 {
            color: var(--primaryLight);
            font-weight: 800;
            font-size: 2rem;
            margin: 0;
        }
    }

    .category:not(:last-child) {
        border-right: 2px solid var(--secondaryDark);
    }

    .skillsList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-top: 1rem;

        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            color: var(--secondaryLight);
            width: 80px;
            aspect-ratio: 1/1;
            font-weight: 400;
            font-size: 1rem;
            background-color: var(--secondaryDark);
            border-radius: 5px;
            padding: 0.2rem;
            box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.612);

            img {
                width: 60%;
                aspect-ratio: 1 / 1;
            }

            p {
                margin: 0;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .categoryList {
        flex-direction: column;
        gap: 2rem;

        .category:not(:last-child) {
            border-right: none;
        }

        .skillsList {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 1rem;
            width: 80%;
            max-width: 300px;

            .skill {
                position: relative;
                left: 5%;
                width: calc(90% - 0.2rem);
                max-width: 80px;
                height: unset;
                aspect-ratio: 1 / 1;
                padding: 0.1rem;

                p {
                    font-size: 70%;
                }
            }
        }
    }
}